@charset "UTF-8";

section table {
	border-collapse: collapse;
	margin: auto;
	}
	
section h3 {
	text-align: center;
}

section th {
	width: 150px;
}

section th:nth-child(3) {
	width: 250px;
	}
	
	
section th:nth-child(4) {
	width: 250px;
	}
	
section th, td{
	border: 1px solid black;
	padding: 10px 10px;
	text-align: center;
}

section th {
	font-weight: bold;
}