@charset "UTF-8";
/* class를 선택자로 할때는 기호 . 을 사용 */
main{
	width: 70%;
	margin: auto;
}
div.gallery {
	border: 1px solid #ddd;
	margin: 10px;
	box-shadow: -5px -5px 5px gray;
	float: left;	
}

/* 마우스가 요소위로 올라가면 보이는 스타일 설정 */
div.gallery:hover{
	border: 1px solid #777;
}

/* gallery 클래스의 자손중에 img 태그에 적용하는 선택자 : 기호는 공백 */
.gallery img {
	width: 200px;
	height: 200px;
	object-fit : cover;
	/*이미지 비율을 유지하면서 적정하게 지정된 크기로 보여줌*/
}

div.desc {
	width: 200px;
	height: 50px;
	padding: 10px;
	text-align: center;
	font-size: 80% ;
	/* 크기를 계산할떄 너비와 높이가 padding, border을 포함하도록 함*/
	box-sizing : border-box;
}
