@charset "UTF-8";

/* 블럭 요소의 width는 기본이 화면의 100, height는 컨텐츠 크기만큼. 높이는 padding으로 정하기*/
 body{
 margin: 0;
 }
 
 .header {
 	padding : 30px 20px;
 	background-color: cornflowerblue;
 	text-align: center;
 	color: white;
 }
 
 	.nav ul{
 	list-style: none;
 	background-color: lightskyblue;
 	margin : 0px;
 	/* 자식 li에 float 속성을 지정했을 때 필요 */
 	overflow : hidden;
 	}
 	
 	.nav a {
 		text-decoration: none;
 		padding: 20px;
 		display: inline-block;
 		color: white;
 	}
 	
 	.nav li {
 	float: left;
 	/* float을 지정하면 부모태그 ul의 높이가 0이 됨 
 	ul 태그 overflow를 설정하기*/
 	
 	}
 	
 	.section {
 		padding: 20px;
 		background-color: gainsboro;
 		/* 컨텐츠 내용만큼 높이만 지정되는 것을 
 		최소 높이 지정하여 바꾸기 */
 		min-height: 659px;
	}
	
	.footer {
		padding: 10px;
		background-color: cornflowerblue;
		color: white;
		text-align: center;
		font-size: 80%;
	}